.header {
  padding-bottom: 28px;
  z-index: var(--z-3);
}

.header__container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding-block: 30px;
}

@media (width < 768px) {
  .header__container nav {
    display: none;
  }
}

.header__container nav {
  z-index: var(--z-3);
}

@media (width < 768px) {
  .header__logo {
    margin-right: clamp(25px, -11.585em + 21.21vw, 120px);
  }

  .header__menu {
    flex-grow: 1;
  }
}

@media (width <= 768px) {
  .header__menu {
    position: fixed;
    right: -100vw;
    top: 0;
    bottom: 0;
    min-width: 297px;
    z-index: var(--z-3);
    padding-top: 144px;
    padding-right: 15px;
    background-color: var(--second-color);
    box-shadow: -2px 0 20px var(--gray-color);
    opacity: 0;
    visibility: hidden;
    transition:
      right var(--trans-time),
      opacity var(--trans-time),
      visibility var(--trans-time);
  }

  .header__menu--open {
    right: 0;
    opacity: 1;
    visibility: visible;
  }

  .header__menu .menu__list {
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
  }
}

.menu__list {
  display: flex;
  gap: 33px;
}

.menu__link:hover {
  color: var(--link-color-3);
}
.menu__link {
  color: var(--main-color);
  transition: color var(--trans-time);
}

.menu__drop-menu {
  /* position: absolute;
  top: 100%;
  left: 0; */
  position: absolute;
  min-width: 100px;
  padding: 12px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 4px 35px 0 rgba(0, 0, 0, 0.25);
  background: var(--footer-back-color);
}

.dropdown:hover .menu__drop-menu,
.dropdown:focus-within .menu__drop-menu {
  opacity: 1;
  visibility: visible;
  transition: all var(--trans-time);
}

.menu__drop-link:hover {
  transform: scale(1.15);
}
.menu__drop-link {
  display: inline-block;
  padding: 10px 15px;
  transition: transform var(--trans-time);
}

.menu__arrow-svg {
  stroke: currentColor;
}

.header__store {
  display: flex;
  gap: 13px;
  stroke: currentColor;
}

.header__icon-search:hover,
.header__icon-basket:hover {
  transform: scale(1.15);
}
.header__icon-search,
.header__icon-basket {
  transition: transform var(--trans-time);
}
