.header {
  padding-top: 30px;
  padding-bottom: 28px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__list {
  display: flex;
  gap: 33px;
}

.menu__link {
  color: var(--main-color);
  transition: color var(--trans-time);
}

@media (any-hover: hover) {
  .menu__link:hover {
    color: var(--link-color);
  }
}

.header__store {
  display: flex;
  gap: 13px;
  stroke: currentColor;
}
