.list__title {
  font-family: var(--secondf);
  font-weight: 400;
  font-size: 42px;
  line-height: 125%;
  text-align: center;
  color: #000;
  margin-top: 47px;
  margin-bottom: 9px;
}

.list__desc {
  font-family: var(--firstf);
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #000;
  text-align: center;
}

.list__form {
  display: flex;
  gap: 20px;
  background-color: var(--footer-back-color);
  border: 1px solid #c5c5c5;
  border-radius: 100px;
  width: 650px;
  height: 60px;
  padding: 15px;
  margin-inline: 322px;
  margin-bottom: 18px;
}

.list__icon-search {
  stroke: currentColor;
}

.list__input {
  background-color: var(--footer-back-color);
  width: 100%;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

.list__tags {
  max-width: 660px;
  margin-inline: 317px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 7px 7px;
}

.list__tag {
  border: 1px solid #c5c5c5;
  border-radius: 200px;
  width: 90px;
  height: 42px;
  transition: transform var(--trans-time);
}

.list__tag:hover {
  transform: translateY(-5px);
}

/* .list__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-inline: 233px;
  gap: 14px;
  max-width: 935px;
  height: 450px;
  background-color: var(--footer-border-color);
  border-radius: 16px;
  margin-top: 61px;
} */

.list__footer {
  display: flex;
  flex-direction: column;
  gap: 14px;
  background-color: var(--footer-border-color);
  border-radius: 16px;
  margin-top: 61px;
  margin-bottom: 19px;
  margin-inline: 180px;
  padding-bottom: 43px;
}

.list__footer-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list__footer-form {
  display: flex;
  align-items: stretch;
  max-width: 400px;
  height: 50px;
  border: 1px solid var(--main-color);
  border-radius: 54px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-inline: 267px;
}

.list__footer-input {
  flex: 1;
  border: none;
  background: transparent;
  padding: 16px 32px;
  outline: none;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: var(--main-color);
}

.list__footer-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 115px;
  height: 50px;
  color: var(--second-color);
  background: var(--main-color);
  transition: all var(--trans-time);
}

.list__footer-button:hover {
  border-radius: 99px;
  background: var(--gray-color);
  transform: translateX(20px);
}
