.product__slider-wrapper {
  position: relative;
  z-index: var(--z-1);
  background: #dce5e2;
  border-radius: 32px;
}

.product__slide-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: var(--z-2);
}

.product__slide-button--prev {
  left: 18px;
}

.product__arrow {
  position: relative;
  right: 32%;
  bottom: -70%;
  stroke: currentColor;
}

.product__arrow:hover {
  transform: scale(1.1);
  transition: transform var(--trans-time);
}

.product__slider-pagination {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 20px; /* регулируйте под ваш дизайн */
  left: 50%;
  transform: translateX(-50%);
  gap: 35px; /* расстояние между точками */
  z-index: 10; /* поверх слайдов и навигации */
  pointer-events: none; /* чтобы не перехватывать клики — только если не clickable: true */
}

/* Если clickable: true — тогда НЕ ставьте pointer-events: none */
.product__slider-pagination {
  pointer-events: auto; /* разрешаем клики по точкам */
}

/* Стиль точек */
.product__slider-pagination .swiper-pagination-bullet {
  width: 194px;
  height: 2px;
  background-color: var(--main-color);
}

/* Активная точка */
.product__slider-pagination .swiper-pagination-bullet-active {
  background: #000; /* или ваш основной цвет бренда */
  width: 194px;
  height: 2px;
  opacity: 1;
}

/* .product__slider-pagination .swiper-pagination-current {
  font-weight: 600;
  color: #000;
  margin: 0 4px;
} */

.product__slide {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (width >= 768px) {
  .product__slide-left {
    position: relative;
    left: 56px;
    max-width: 650px;
  }
}

.product__title {
  font-family: var(--secondf);
  font-weight: 400;
  /* min 375 max 1440 */
  font-size: clamp(32px, 0.076rem + 3.94vw, 58px);
  line-height: 120%;
  color: var(--main-color);
  padding-bottom: 19px;
}

.product__desc {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: clamp(12px, 0.662rem + 0.38vw, 16px);
  line-height: 120%;
  color: var(--main-color);
  max-width: 565px;
  padding-bottom: 30px;
}

.product__button {
  border: 1px solid var(--main-color);
  border-radius: 32px;
  padding: 14px 53px;
  transition: transform var(--trans-time);
}

.product__button:hover {
  transform: scale(1.05);
}

@media (width > 768px) {
  .product__slide-right {
    position: relative;
    top: 4px;
  }
}

.product__slide-button--back {
  right: 18px;
  transform: translateY(-50%) rotate(180deg);
}

@media (width < 768px) {
  .product__slide {
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
  }

  .product__slide-left {
    /* padding: 0; */
    /* width: auto; */
    /* flex-shrink: 1; */
    /* width: 100%; */
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .product__button {
    width: 200px;
    /* transform: translateX(20px); */
  }
}
