.header-linner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #d3cbd9;
}

.phone {
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: right;
  color: #9a9a9a;
}

.phone p {
  margin-bottom: 8px;
}

.phone a {
  font-weight: 500;
  font-size: 18px;
  color: #3e3e3e;
  transition: color 0.4s;
}

.phone a:hover {
  color: #6e4bfa;
}
