.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.txt-logo {
  max-width: 84px;
  height: 45px;
  font-size: 20px;
  font-weight: 300;
}

.logo {
  width: 50px;
  height: auto;
}

.cl-1 {
  display: grid;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
  color: #5f5f5f;
}

.tel {
  justify-self: right;
  color: #000;
  text-decoration: none;
  text-transform: none;
  font-weight: 500;
  font-size: 16px;
  margin-top: 8px;
  transition: color 0.4s;
}

.tel:hover {
  color: #3596ed;
}
