.article {
  padding-top: 80px;
  padding-bottom: 120px;
}

.main-container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}

.article-title {
  max-width: 596px;
  margin-bottom: 40px;
  font-family: Oswald;
  font-weight: 600;
  line-height: 115%;
  text-transform: uppercase;
  color: #2c332f;
}

.article-large {
  font-size: 48px;
}

.article-title-medium {
  font-size: 36px;
}

.article-txt {
  margin-bottom: 20px;
  font-family: Ubuntu;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #535755;
}

.article-mb80 {
  margin-bottom: 80px;
}

.article-mb {
  margin-bottom: 40px;
}

.article-img-decor-wrapper {
  position: relative;
}

.article-img-decor-wrapper::before {
  content: "";
  position: absolute;
  z-index: -1;
  background: url("../img/decor-icon.svg") no-repeat;
  width: 500px;
  height: 48px;
}

.article-img-decor-wrapper-1::before {
  top: 100px;
  left: -350px;
}

.article-img-decor-wrapper-2::before {
  bottom: 136px;
  right: -350px;
}

.img,
.video {
  width: 100%;
  height: auto;
  /* margin-bottom: 80px; */
}

.article-list {
  margin-top: 0;
  padding-left: 16px;
  margin-bottom: 80px;
}

.article-item {
  margin-bottom: 12px;
}

.article-item::marker {
  color: #3596ed;
  font-size: 22px;
}

.article-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  padding: 0;
  background-color: #3596ed;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
