.article {
  padding-top: 80px;
  padding-bottom: 120px;
}

.main-container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}

.article-txt {
  margin-bottom: 20px;
  font-family: Ubuntu;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #535755;
}

.article-mb80 {
  margin-bottom: 80px;
}

.article-mb {
  margin-bottom: 40px;
}

.article-img-decor-wrapper {
  position: relative;
}

.article-img-decor-wrapper-1::before {
  top: 100px;
  left: 0;
}

.article-img-decor-wrapper-2::before {
  right: 0;
  bottom: 136px;
}

.article-list {
  margin-top: 0;
  padding-left: 16px;
  margin-bottom: 80px;
}

.article-item {
  margin-bottom: 12px;
}

.article-item::marker {
  color: #3596ed;
  font-size: 22px;
}

.article-play {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  padding: 0;
  background-color: #3596ed;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}

.article-play:hover {
  background-color: #3da4ff;
}

.article-play:not(disabled):active {
  background-color: #2b71ad;
}

@media (width <= 768px) {
  .article-title-medium {
    font-size: 32px;
  }

  .article-img-decor-wrapper::before {
    display: none;
  }

  .article-mb80 {
    margin-bottom: 60px;
  }
}

@media (width <= 576px) {
  .article {
    padding-top: 60px;
    padding-bottom: 80px;
  }

  .article-title-medium {
    font-size: 28px;
  }

  .article-play {
    width: 50px;
    height: 50px;
  }
  .article-play img {
    width: 18px;
    height: 18px;
  }
}
