.header-linner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #d3cbd9;
}

.phone {
  text-align: right;
}

.phone p {
  margin-bottom: 8px;
}

.phone a {
  font-weight: 500;
  font-size: 18px;
  color: #3e3e3e;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

.phone a:hover {
  color: #6e4bfa;
}
