.page {
  font-family: var(--firstf);
  scroll-behavior: smooth;
}

.page__body {
  min-width: 375px;
  color: var(--main-color);
}

.container {
  width: min(var(--container-width), 100% - var(--container-padding) * 2);
  margin: 0px auto;
}

.title {
  font-family: var(--ff);
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  text-transform: uppercase;
  color: #000;
}

.section-title {
  font-family: var(--secondf);
  font-weight: 400;
  font-size: 42px;
  line-height: 125%;
  text-align: center;
  color: #000;
}

.section-title-sm {
  font-family: var(--secondf);
  font-weight: 400;
  font-size: 13px;
  line-height: 129%;
  text-align: center;
  color: #000;
  margin-top: 9px;
}
