/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.5.15,
* Autoprefixer: v10.5.0
* Browsers: last 4 version
*/

.hero {
  position: relative;
  padding-top: 80px;
}

.hero::before {
  bottom: 106px;
  width: 100%;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* align-items: center; */
  gap: 28px;
}

.hero__title {
  margin-bottom: 40px;
  font-family: Oswald, sans-serif;
  font-weight: 600;
  font-size: 62px;
  line-height: 115%;
  text-transform: uppercase;
  color: #2c332f;
}

.hero__main {
  font-weight: 600;
  color: #3ea0fb;
}

.hero__info {
  max-width: 492px;
}

.hero__info .text {
  max-width: 449px;
  margin-bottom: 140px;
}

.hero__img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__choose {
  position: absolute;
  top: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  max-width: 161px;
  padding: 22px;
  background: rgb(255 255 255 / 0.9);
  border: 1px solid #535755;
  text-align: center;
}

.news__cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 28px;
}

.news__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 284px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 25%;
  flex: 1 1 25%;
  background-color: #fff;
  border: 1px solid #d3cbd9;
  overflow: hidden;
}

.news__img {
  display: block;
}

.news__info {
  padding: 20px 20px 0;
  margin-bottom: 12px;
}

.news__date {
  display: inline-block;
  margin-bottom: 8px;
}

.news__footer {
  padding: 0 20px 20px;
  margin-top: auto;
}

.news__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #48abfc;
}

.news__link::after {
  content: "";
  width: 22px;
  height: 9px;
  background: url("../img/arow.svg") no-repeat;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition:
    transform 0.4s,
    -webkit-transform 0.4s;
}

.news__link:hover::after {
  -webkit-transform: translateX(7px);
  -ms-transform: translateX(7px);
  transform: translateX(7px);
}

.faq {
  position: relative;
}

.faq::before {
  top: 215px;
}

.faq__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 28px;
}

details {
  margin-bottom: 20px;
  border-block: 1px solid #d3cbd9;
}

details:last-child {
  margin-bottom: 0;
}

details[open] summary::after {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 10px;
  list-style: none;
  padding: 20px;
  cursor: pointer;
}

summary::after {
  content: "";
  display: inline-block;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 17px;
  height: 22px;
  background: url("../img/arrow-down.svg") no-repeat center / cover;
}

summary::-webkit-details-marker {
  display: none;
}

details > p {
  padding: 0 20px 20px;
}

@media (width <= 1440px) {
  .hero__img-persons {
    width: 50%;
  }
}

@media (width <= 992px) {
  .hero::after {
    display: none;
  }
  .hero__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .hero__info {
    text-align: center;
  }
  .hero__title {
    margin-bottom: 30px;
    font-size: 52px;
  }
  .hero__paragraph {
    max-width: inherit;
    margin-bottom: 30px;
  }
  .news__cont {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 20px;
  }
  .news__article {
    max-width: 350px;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
  .news__img {
    width: 100%;
  }
  .faq::before {
    display: none;
  }
  .faq__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media (width <= 768px) {
  .hero__title {
    font-size: 50px;
  }
  .news__article {
    max-width: 400px;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
}

@media (width <= 576px) {
  .hero {
    padding-top: 50px;
  }

  .hero__info {
    max-width: 410px;
  }

  .hero__title {
    font-size: 42px;
  }

  .hero__choose {
    max-width: 125px;
    padding: 10px;
    font-size: 14px;
  }
}
