* {
  box-sizing: border-box;
}
body {
  margin: 0;
  color: whitesmoke;
  font-family: sans-serif;
  background-color: rgb(66, 66, 66);
}
table {
  text-align: center;
  font-size: 50px;
  margin: 5px 0 0 15px;
  border-spacing: 1;
  border-collapse: collapse;
}
tr,
td,
th {
  border: 1px solid #ffffff;
}
.weight {
  font-weight: 500;
}
caption {
  font-weight: 700;
  border-bottom: 0;
  border: 1px solid #ffffff;
}
#color {
  color: #ff0101;
}
