html {
  font-family: sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
}
* {
  box-sizing: border-box;
}

body {
  min-width: 375px;
  margin: 0;
}
.container {
  max-width: 1280px;
  padding: 0 15px;
  margin: 0 auto;
}
.wrapper {
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-template-rows: 110px 1fr 160px;
  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
}
.header {
  grid-area: header;
  background-color: #7d0160;
}
.aside {
  grid-area: aside;
  background-color: #31313d;
}
.main {
  grid-area: main;
  background-color: #4a4a4aaf;
}
.main .container {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-auto-rows: 350px;
  align-content: center;
  justify-content: center;
  gap: 20px;
  padding: 30px;
}
.article {
  min-height: 200px;
  background: #7aafbe;
}
.footer {
  grid-area: footer;
  background-color: #33137a;
}
/* @media (width <= 1200px) {
  .main .container {
    grid-template-columns: repeat(, 1fr);
  }
}

@media (width <= 768px) {
} */
