.stats__video {
  position: relative;
}

@media (width > 576px) {
  .stats__video {
    margin-bottom: 60px;
  }
}

@media (width <= 576px) {
  .stats__video {
    margin-bottom: 40px;
  }
}

.stats__video {
  overflow: hidden;
  border: 1px solid var(--main-color);
  border-radius: 12px;
}

.stats__video-play {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--overlay-color);
  border: 1px solid var(--main-color);
  box-shadow:
    var(--shadow-glow),
    inset var(--shadow-glow);
  transform: translate(-50%, -50%);
  transition:
    border-color var(--transition-time),
    box-shadow var(--transition-time);
}

@media (any-hover: hover) {
  .stats__video-play:hover {
    border-color: var(--accent-color);
    box-shadow:
      var(--shadow-accent-glow),
      inset var(--shadow-accent-glow);
  }
}

@media (width > 576px) {
  .stats__video-play {
    width: 80px;
    height: 80px;
  }

  .stats__video-play-icon {
    width: 17px;
    height: 24px;
    transform: translateX(2px);
  }
}

@media (width <= 576px) {
  .stats__video-play {
    width: 48px;
    height: 48px;
  }

  .stats__video-play-icon {
    width: 10px;
    height: 13px;
    transform: translateX(1px);
  }
}

.stats__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(345px, 1fr));
  gap: 40px 20px;
}

.stats__card-icon {
  margin-bottom: 20px;
  transform: translateX(-3px);
}

@media (width <= 576px) {
  .stats__card-icon {
    width: 48px;
    height: 48px;
  }
}

.stats__card-title {
  margin-bottom: 20px;
}

.stats__card-txt {
  font-weight: 300;
  font-size: 14px;
  line-height: 140%;
  color: var(--main-color);
}
